<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Todo</title>
    <link
            rel="stylesheet"
            th:href="@{/assets/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css}"
    />
    <script th:src="@{/assets/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row mt-3">
        <div class="col-lg-12">
            <h1 class="text-center text-info fw-bold">Thêm công việc cần làm</h1>
        </div>
    </div>
    <div class="row mt-5">
        <form th:action="@{/todo/add}" th:object="${todo}" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Nhập tên công việc">
                <label for="name">Tên công việc</label>
            </div>
            <div class="input-group">
                <span class="input-group-text">Thời gian</span>
                <input type="text" aria-label="time-start" th:field="*{timeStart}" class="form-control"
                       name="time-start" placeholder="Từ">
                <input type="text" aria-label="time-end" th:field="*{timeEnd}" class="form-control" name="time-end"
                       placeholder="Đến">
            </div>
            <div class="form-floating mt-3">
                <textarea class="form-control" th:field="*{description}" style="height: 150px;"
                          placeholder="Leave a comment here"
                          id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Ghi chú</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3 float-end" style="width: 200px; font-size: large;">Thêm
            </button>
        </form>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-lg-12">
            <h1 class="text-center text-info fw-bold">Danh sách công việc cần làm</h1>
        </div>
    </div>
    <div class="row justify-content-evenly mt-3">
        <div th:each="t : ${todoList}" class="card mb-3" style="max-width: 18rem;">
            <a th:href="@{/todo/delete(id=${t.getId()})}">
                <button type="button" class="btn-close position-absolute" style="top: 10px; right: 15px;"
                        aria-label="Close"></button>
            </a>
            <div class="card-header">Đang chờ</div>
            <div class="card-body">
                <h5 class="card-title" th:text="*{t.getName()}"></h5>
                <p class="card-text" th:text="*{t.getTimeStart() +' - '+ t.getTimeEnd()}"></p>
                <p class="card-text" th:text="*{t.getDescription()}"></p>
            </div>
        </div>
    </div>
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Thông báo</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" th:text="${message}"></div>
        </div>
    </div>
</div>

<script>
    const classNames = ["text-bg-primary", "text-bg-secondary", "text-bg-success", "text-bg-danger", "text-bg-warning", "text-bg-info", "text-bg-light", "text-bg-dark"];
    const cardElements = document.querySelectorAll(".card");
    let i = 0;
    cardElements.forEach(card => {
        card.classList.add(classNames[i % 8]);
        i++;
    });

    const myToastEl = document.querySelector('.toast');
    const myToastElBody = document.querySelector('.toast .toast-body');
    const toast = new bootstrap.Toast(myToastEl);
    console.log(myToastElBody.textContent);
    if (myToastElBody.textContent != "") {
        if (myToastElBody.textContent == "Success") {
            myToastEl.classList.add("text-bg-success");
        } else {
            myToastEl.classList.add("text-bg-danger");
        }
        toast.show();
    }
</script>
</body>
</html>
